 .u-section-1 {
  background-image: url("images/pexels-anna-tarazevich-6501742.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 4112px;
}

.u-section-1 .u-image-1 {
  height: 483px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 341px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 88px auto 0 22px;
}

.u-section-1 .u-image-2 {
  height: 483px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 341px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -483px auto 0;
}

.u-section-1 .u-image-3 {
  height: 483px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 341px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -483px 23px 0 auto;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: 67px auto 0 110px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: -48px 474px 0 auto;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: -48px 116px 0 auto;
}

.u-section-1 .u-image-4 {
  height: 483px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 341px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 45px auto 0;
}

.u-section-1 .u-image-5 {
  height: 483px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 341px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -483px auto 0 22px;
}

.u-section-1 .u-image-6 {
  height: 483px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 344px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -483px 23px 0 auto;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: 51px 116px 0 auto;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: -48px auto 0;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: -48px auto 0 110px;
}

.u-section-1 .u-image-7 {
  height: 483px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 344px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 61px auto 0 22px;
}

.u-section-1 .u-image-8 {
  height: 483px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 344px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -483px auto 0;
}

.u-section-1 .u-image-9 {
  height: 483px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 344px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -483px 19px 0 auto;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: 45px auto 0 119px;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: -48px auto 0;
}

.u-section-1 .u-btn-9 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: -48px 116px 0 auto;
}

.u-section-1 .u-image-10 {
  height: 483px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 369px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 119px auto 0 10px;
}

.u-section-1 .u-image-11 {
  height: 483px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 363px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -483px 386px 0 auto;
}

.u-section-1 .u-image-12 {
  height: 483px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 365px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -483px 9px 0 auto;
}

.u-section-1 .u-btn-10 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: 51px auto 0 119px;
}

.u-section-1 .u-btn-11 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: -48px 474px 0 auto;
}

.u-section-1 .u-btn-12 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: -48px 116px 0 auto;
}

.u-section-1 .u-image-13 {
  height: 483px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 369px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 57px auto 0 10px;
}

.u-section-1 .u-image-14 {
  height: 483px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 369px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -483px 375px 0 auto;
}

.u-section-1 .u-image-15 {
  height: 483px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 358px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -483px 2px 0 auto;
}

.u-section-1 .u-btn-13 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: 61px auto 0 110px;
}

.u-section-1 .u-btn-14 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: -48px 474px 0 auto;
}

.u-section-1 .u-btn-15 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: -48px 116px 0 auto;
}

.u-section-1 .u-image-16 {
  height: 483px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 369px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 57px auto 0 10px;
}

.u-section-1 .u-image-17 {
  height: 491px;
  animation-timing-function: ease-in;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 382px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -483px 367px 0 auto;
}

.u-section-1 .u-btn-16 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: 51px 474px 0 auto;
}

.u-section-1 .u-btn-17 {
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: -48px auto 60px 110px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3391px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -675px;
    margin-right: 274px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 19px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-6 {
    height: 482px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -20px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    height: 482px;
    margin-top: 34px;
  }

  .u-section-1 .u-image-8 {
    height: 482px;
    margin-top: 20px;
  }

  .u-section-1 .u-image-9 {
    height: 482px;
    margin-top: 20px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-1 .u-image-11 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -602px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 633px;
    margin-right: 274px;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-1 .u-image-13 {
    margin-top: 29px;
  }

  .u-section-1 .u-image-14 {
    margin-top: -1094px;
  }

  .u-section-1 .u-image-15 {
    height: 482px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 274px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: -20px;
    margin-right: 0;
  }

  .u-section-1 .u-image-16 {
    margin-top: 29px;
  }

  .u-section-1 .u-image-17 {
    height: 492px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: -569px;
    margin-right: 274px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2597px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 54px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 357px;
  }

  .u-section-1 .u-image-12 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 54px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-14 {
    margin-right: 351px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 54px;
  }

  .u-section-1 .u-image-17 {
    margin-right: 338px;
  }

  .u-section-1 .u-btn-16 {
    margin-right: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1948px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-11 {
    margin-right: 177px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-image-14 {
    margin-right: 171px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 0;
  }

  .u-section-1 .u-image-17 {
    margin-right: 158px;
  }

  .u-section-1 .u-btn-16 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 10373px;
  }

  .u-section-1 .u-image-1 {
    height: 482px;
    margin-top: 106px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 482px;
    margin-top: 138px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: 482px;
    margin-top: 138px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 45px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -1288px;
    margin-right: 84px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 572px;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    height: 482px;
    margin-top: 665px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    height: 482px;
    margin-top: 138px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: 476px;
    margin-top: 138px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -1189px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 1186px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -662px;
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    height: 476px;
    margin-top: 659px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-8 {
    height: 476px;
    margin-top: 138px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-9 {
    height: 476px;
    margin-top: 138px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -1183px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 566px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 566px;
    margin-right: auto;
  }

  .u-section-1 .u-image-10 {
    height: 445px;
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-11 {
    height: 452px;
    margin-top: 138px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-12 {
    height: 450px;
    margin-top: 138px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -1133px;
    margin-right: 84px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 542px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 3461px;
    margin-right: auto;
  }

  .u-section-1 .u-image-13 {
    height: 445px;
    margin-top: -2293px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-14 {
    height: 445px;
    margin-top: -1028px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-15 {
    height: 458px;
    margin-top: 721px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-13 {
    margin-top: -1717px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-14 {
    margin-top: 1118px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 548px;
    margin-right: auto;
  }

  .u-section-1 .u-image-16 {
    height: 445px;
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-17 {
    height: 438px;
    margin-top: 138px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-16 {
    margin-top: -531px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-17 {
    margin-top: -1810px;
    margin-left: auto;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before,
.u-section-1 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-4 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-4 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-5,
.u-section-1 .u-image-5:before,
.u-section-1 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-5.u-image-5.u-image-5:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-5 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-5.u-image-5.u-image-5.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-5 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-6,
.u-section-1 .u-image-6:before,
.u-section-1 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-6.u-image-6.u-image-6:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-6 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-6.u-image-6.u-image-6.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-6 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-7,
.u-section-1 .u-image-7:before,
.u-section-1 .u-image-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-7.u-image-7.u-image-7:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-7 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-7.u-image-7.u-image-7.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-7 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-8,
.u-section-1 .u-image-8:before,
.u-section-1 .u-image-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-8.u-image-8.u-image-8:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-8 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-8.u-image-8.u-image-8.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-8 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-9,
.u-section-1 .u-image-9:before,
.u-section-1 .u-image-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-9.u-image-9.u-image-9:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-9 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-9.u-image-9.u-image-9.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-9 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-10,
.u-section-1 .u-image-10:before,
.u-section-1 .u-image-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-10.u-image-10.u-image-10:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-10 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-10.u-image-10.u-image-10.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-10 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-11,
.u-section-1 .u-image-11:before,
.u-section-1 .u-image-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-11.u-image-11.u-image-11:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-11 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-11.u-image-11.u-image-11.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-11 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-12,
.u-section-1 .u-image-12:before,
.u-section-1 .u-image-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-12.u-image-12.u-image-12:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-12 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-12.u-image-12.u-image-12.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-12 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-13,
.u-section-1 .u-image-13:before,
.u-section-1 .u-image-13 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-13.u-image-13.u-image-13:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-13 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-13.u-image-13.u-image-13.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-13 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-14,
.u-section-1 .u-image-14:before,
.u-section-1 .u-image-14 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-14.u-image-14.u-image-14:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-14 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-14.u-image-14.u-image-14.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-14 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-15,
.u-section-1 .u-image-15:before,
.u-section-1 .u-image-15 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-15.u-image-15.u-image-15:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-15 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-15.u-image-15.u-image-15.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-15 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-16,
.u-section-1 .u-image-16:before,
.u-section-1 .u-image-16 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-16.u-image-16.u-image-16:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-16 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-16.u-image-16.u-image-16.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-16 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-17,
.u-section-1 .u-image-17:before,
.u-section-1 .u-image-17 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-17.u-image-17.u-image-17:hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-17 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-17.u-image-17.u-image-17.hover {
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  border-color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-17 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}